body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
}

.row {
    padding-top: 0;
    padding-bottom: 0;
}

#all {
    border-top: 1px solid rgb(214, 214, 214);
    display: flex;
}

.error{
    color: red;
}